# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.python-version
.env
.venv/
venv/

# Editors
.vscode/
.idea/

# Build artifacts
build/
dist/
*.spec

# Tools
.pytest_cache/
.mypy_cache/
.coverage
 
# Sensitive reports
data/
